SOAPJEEClient/src/main/resources/META-INF/wsdl/CarWebService/CarWebServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.web.jee.soap.pre.bt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.web.jee.soap.pre.bt/" name="CarWebServiceImpl">
<types>
<xsd:schema>
<xsd:import namespace="http://service.web.jee.soap.pre.bt/" schemaLocation="http://localhost:8080/SOAPJEE/CarWebServiceImpl?xsd=1"/>
</xsd:schema>
</types>
<message name="getCars">
<part name="parameters" element="tns:getCars"/>
</message>
<message name="getCarsResponse">
<part name="parameters" element="tns:getCarsResponse"/>
</message>
<message name="getCar">
<part name="parameters" element="tns:getCar"/>
</message>
<message name="getCarResponse">
<part name="parameters" element="tns:getCarResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="createCar">
<part name="parameters" element="tns:createCar"/>
</message>
<message name="createCarResponse">
<part name="parameters" element="tns:createCarResponse"/>
</message>
<message name="updateCar">
<part name="parameters" element="tns:updateCar"/>
</message>
<message name="updateCarResponse">
<part name="parameters" element="tns:updateCarResponse"/>
</message>
<message name="deleteCar">
<part name="parameters" element="tns:deleteCar"/>
</message>
<message name="deleteCarResponse">
<part name="parameters" element="tns:deleteCarResponse"/>
</message>
<portType name="CarWebService">
<operation name="getCars">
<input wsam:Action="http://service.web.jee.soap.pre.bt/CarWebService/getCarsRequest" message="tns:getCars"/>
<output wsam:Action="http://service.web.jee.soap.pre.bt/CarWebService/getCarsResponse" message="tns:getCarsResponse"/>
</operation>
<operation name="getCar">
<input wsam:Action="http://service.web.jee.soap.pre.bt/CarWebService/getCarRequest" message="tns:getCar"/>
<output wsam:Action="http://service.web.jee.soap.pre.bt/CarWebService/getCarResponse" message="tns:getCarResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service.web.jee.soap.pre.bt/CarWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.web.jee.soap.pre.bt/CarWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="createCar">
<input wsam:Action="http://service.web.jee.soap.pre.bt/CarWebService/createCarRequest" message="tns:createCar"/>
<output wsam:Action="http://service.web.jee.soap.pre.bt/CarWebService/createCarResponse" message="tns:createCarResponse"/>
</operation>
<operation name="updateCar">
<input wsam:Action="http://service.web.jee.soap.pre.bt/CarWebService/updateCarRequest" message="tns:updateCar"/>
<output wsam:Action="http://service.web.jee.soap.pre.bt/CarWebService/updateCarResponse" message="tns:updateCarResponse"/>
</operation>
<operation name="deleteCar">
<input wsam:Action="http://service.web.jee.soap.pre.bt/CarWebService/deleteCarRequest" message="tns:deleteCar"/>
<output wsam:Action="http://service.web.jee.soap.pre.bt/CarWebService/deleteCarResponse" message="tns:deleteCarResponse"/>
</operation>
</portType>
<binding name="CarWebServiceImplPortBinding" type="tns:CarWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCars">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CarWebServiceImpl">
<port name="CarWebServiceImplPort" binding="tns:CarWebServiceImplPortBinding">
<soap:address location="http://localhost:8080/SOAPJEE/CarWebServiceImpl"/>
</port>
</service>
</definitions>